/**************Mobile ver.*******************/

.contacts__wraper {
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    text-align: center;
    position: relative;
}

.contacts__title {
    font-family: OpenSansLight, Verdana, sans-serif;
    line-height: 1.2em;
    font-size: 24px;
    margin-bottom: 35px;
}

.contacts__item-title {
    font-family: OpenSansBold, Verdana, sans-serif;
    line-height: 1.5em;
    font-size: 18px;
}

.contacts__item {
    margin-bottom: 22px;
}

.contacts__item--style {
    text-decoration: none;
    font-family: OpenSansLight, Verdana, sans-serif;
    line-height: 1.2em;
    font-size: 24px;
    color: #de6183;
}

.contest__star {
    color: $pink;
}


/********************************************/

/***************Tablet ver.******************/

@media (min-width: $tablet) {
    .contacts__title {
        width: 370px;
        margin: 0 auto;
        font-size: 40px;
    }
    
    .contacts__items-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .contacts__item {
        margin-top: 44px;
    }
    
    .contacts__item--width {
        width: 220px;
    }
    
   
    
    .contacts__addres {
        margin-top: 28px;
    }
}
    
    

/********************************************/

/*******************Descktop ver.**************************/

@media (min-width: $desk) {
    .contacts__title {
        width: 600px;
        font-size: 50px;
        margin-left: 120px;
    }
    
    .contacts__wraper {
        padding-top: 64px;
        padding-left: 58px;
        padding-right: 39px;
        padding-bottom: 25px;
    }
    
    .contacts__item {
        margin-top: 58px;
    }
    
    .contacts__items-holder {
        justify-content: space-between;
    }
    
    .contacts__item--style {
        display: block;
        margin-top: 20px;
    }
    
    .contacts__tell {
        order: 1;
    }
    
    .contacts__addres {
        order: 2;
    }
    
    .contacts__email {
        order: 3;
    }
}