.map {
    position: relative;
    iframe {
        height: 200px;
        width: 100%;
    }
}

.map__decoration {
    position: absolute;
    right: 0;
    top: -2px;
    width:0;
    height:0;
    border: 160px solid transparent;
    border-top: 45px solid $white;
    border-bottom: 0;
}


@media (min-width: $tablet) {
     .map__decoration {
        position: absolute;
        right: 0;
        width:0;
        height:0;
        border: 50vw solid transparent;
        border-top: 73px solid $white;
        border-bottom: 0;
    }
    
    .map {
    iframe {
        height: 376px;
        width: 100%;
        }
    }
}

@media (min-width: $desk) {
      .map__decoration {
        position: absolute;
        right: 0;
        width:0;
        height:0;
        border: 50vw solid transparent;
        border-top: 120px solid $white;
        border-bottom: 0;
}
    
     .map {
    iframe {
        height: 500px;
        width: 100%;
        }
    }
}