/*************Mobile ver.****************/

.page-header {
    border: 1px solid black;/*После разметки удалить*/
    height: 325px;
}

.main-nav__link {
    text-decoration: none;
}

body {
    background: red;
}
/****************************************/