$tablet:768px;

$desk:1024px;

/****Color***/

$black:#000000;

$white:#FFFFFF;

$gray:#c3c5c8;

$coffe:#f2f2f2;

$dark-grey:#bec2c7;

$milk:#e5e5e5;

$pink:#d22856;

$green:#2aab6d;

$ashen:#c6cace;

$dark-ashen:#535e6a;
/***********/

$retina:(min-resolution: 144dpi),(min-resolution: 1.5dppx);

/*

 .page-header__logo {
    
    background-color: #000000;
    background-image: url("img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
    
    @media $retina {
      background-image: url("img/bg-header@2x.jpg");
    }

 @media (min-resolution: 144dpi),(min-resolution: 1.5dppx)  {
      background-image: url(../../img/bg-back-mobile@2x.jpg);
    }
  }
*/